#about-panel p.intro {
    font-size: 18px;
}
#about-panel .prof-pic {
    max-width: 250px;
}
.pick-date {
    text-align: center;
}

#select-date-panel {
    max-width: 50%;
    margin-left: 25%;
}

#availability-table {
    border-collapse: separate;
    border-spacing: 5px;
}

#availability-table td.unavailable {
    background: red;
}
#availability-table td.available {
    background: green;
    text-align: center;
}

#availability-table .glyphicon-thumbs-up {
    text-align: center;
    color: white;
}